section {
  /* if "content-box" the width of the box is the width of the content */
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  border: 4px solid var(--black);
  width: 100%;
  height: 300px;
}

h1 {
  padding: 20px;
  font-weight: bold;
}

p,
ul {
  text-align: left;
}

img {
  max-width: 77%;
  height: auto;
  width: auto;
}
